NEXT_PUBLIC_SUPABASE_URL=https://elaludvqxxxlbovqigyc.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImVsYWx1ZHZxeHh4bGJvdnFpZ3ljIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Mjc4NDY5MDIsImV4cCI6MjA0MzQyMjkwMn0.kHOvEYQeO48x7cw6utvkOEhQmUuEzcc9QSK8Jb2V654